body{
    background: #17202A ;
}
table{
    width: 60%;
    margin: 0 auto;
    background:#CD5C5C;
}
.titulo{
    font-size: 38px;
    background: #CD5C5C;
    text-align: center;
    color: #F7F9F9;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.columnas{
    font-size: 25px;
    
    color: seashell;
    font-weight: bold;
}